@{
    ViewData["Title"] = "Contact";
}
<!--

<body background="https://esquilo.io/wallpaper/wallpaper/20210704/black-wallpaper-plain-plain-black-desktop-wallpapers-on-wallpaperdog-preview.webp">
    </body>

    <div class="overflow-hidden text-center row">

        <div class="col-md-6 p-lg-5 mx-auto my-5">
         <h1 class="display-6 fw-normal text-center" style="color:#F535AA"><b>CONTACT</b></h1>
        <h1 class="display-6 fw-normal text-light"><b>I'd Love To Hear From You</b></h1>

         </div>
    </div>
    
             
         
            <div class="overflow-hidden text-center row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">

               
                 <p class="hero_desc text-light">WHERE TO FIND ME</p>
                 <p class="hero_desc text-light"> 71 000 Sarajevo <br> Bosnia and Herzegovina</p>
            </div>
            </div>
        </div>
        -->
        
   <!--   <style>
      header {
      padding-block-end: 30%;
      background-image:url("https://ychef.files.bbci.co.uk/1600x900/p07049kc.webp");
     
     
    }
     
    </style>-->

   <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card">
            <img class="card-img-center" src="https://ychef.files.bbci.co.uk/1600x900/p07049kc.webp" style="width:1300px; height:300px; object-fit:cover;"/>
        
            <div class="card-body">
                <h5 class="card-title">UNDP in Bosnia and Herzegovina</h5>
                <p class="card-text-center">The United Nations Development Programme in BiH, with the support of UNDP's global network, has been helping the country to attract and use international assistance since 1996. Our main goals are the reconstruction of the country following the conflict, supporting and building national capacity in key sectors, advancing human development and helping to shift the focus of development planning from post-war recovery to long-term strategic development.</p>
                <a target="_blank" class="btn btn-primary" href="https://www.ba.undp.org/content/bosnia_and_herzegovina/en/home/about-us">Learn more &raquo;</a>
            </div>
        </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card">
        
            <div class="card-body">
                <h5 class="card-title">Results achieved in 2020</h5>
               
            </div>
        </div>
        </div>
    </div>

    <div class="row">

    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://static.hayat.ba/2019/09/vijecnica.jpg" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">UNDP supported 22 pilot projects</h5>
                <p class="card-text">Solutions based on advanced use of technology to improve public transportation, green mobility, and air quality are tested.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://www.enabel.be/sites/default/files/15_EFE_1_WEB.jpg" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">Series of innovative and pilot projects</h5>
                <p class="card-text">
                    Aiming to support SMEs in the transition to environmentally friendly business models, monitoring and reduction of air pollution, transparent and inclusive public consultation, real-time monitoring of the state of the economy, collective idea creation, and piloting of innovative solutions
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://europa.ba/wp-content/uploads/2019/07/Final-Conference-of-the-Local-Integrated-Development-18.jpg" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">Strategies aligned with budgets
</h5>
                <p class="card-text">As part of a coherent system that UNDP has expanded through support to local governments, focusing on improving municipal systems and public services</p>
            </div>
        </div>
    </div>
    </div>

    <div class="row">

    
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://cdn.startbih.ba/articles/2017/08/23/startbih-2017082304003506-big.jpg" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">29 agriculture companies received EUR 1.9 million grant funding</h5>
                <p class="card-text">
                    Additional EUR 1.5 million is being provided to the agro-food companies.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://business-magazine.ba/wp-content/uploads/2021/11/korona-i-p%C4%8Dele-naslovna.jpg" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">Support for families and associations along the Via Dinarica trail</h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://i2.wp.com/gradbanjaluka.com/wp-content/uploads/2020/02/sivanje-tekstilna-industrija-posao.jpg?fit=680%2C403&ssl=1" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">439 new jobs were created
</h5>
                <p class="card-text">A total of 6,156 since 2014</p>
            </div>
        </div>
    </div>
        </div>

    <div class="row">

    
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://gdb.rferl.org/4e214c14-7751-4cbe-8d09-e0ee86675d5e_w1200_r1.jpg" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">Improving all citizens' safety</h5>
                <p class="card-text">
                    A comprehensive database, real-time map of mine suspected areas, and the first mine-tracking mobile app were created
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://hotnewbizideasforsmes.com/wp-content/uploads/2020/07/1-sme-grants-usa-13.jpg" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">UNDP supported 268 SMEs in 2020</h5>
                <p class="card-text">Especially those in sectors strongly affected by the pandemic</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://static.klix.ba/media/images/vijesti/200522044.3_xxl.jpg?v=2" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">A total of 18.8 million USD for medical equipment and supplies were entrusted to UNDP's management
</h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
        </div>