@{
    ViewData["Title"] = "Home Page";
}

 <div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://www.friendsofeurope.org/wp/wp-content/uploads/2020/06/Official-photo_MSE-scaled-e1593417377625-1700.jpeg" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">Decarbonization and transition to greener energy cannot wait</h5>
                <p class="card-text">
                    Assistant Administrator and Director of the UNDP Regional Office Špoljarić Egger calls on Bosnia and Herzegovina authorities at all levels to accelerate progress towards green and inclusive economic growth
                </p>
                <a target="_blank" class="btn btn-primary" href="https://www.ba.undp.org/content/bosnia_and_herzegovina/en/home/presscenter/articles/2022/decarbonization-and-transition-to-greener-energy-cannot-wait">Learn more &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://pbs.twimg.com/media/FOm-wBUXMAEiZxq?format=jpg&name=large" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">Only 6% of women in a managing position in the energy sector in BiH
</h5>
                <p class="card-text">Panel discussion „Role of Women in Just Transition of the Energy Sector“ on Energy Summit 2022 in Neum gathered the most prominent women in the energy sector and environmental protection. They jointly underlined inadequate representation of women in leading positions in the sector that has been perceived as a predominantly male sector..</p>
                <a target="_blank" class="btn btn-primary" href="https://www.ba.undp.org/content/bosnia_and_herzegovina/en/home/presscenter/articles/2022/samo-6-posto-zena-na-rukovodecim-pozicijama-u-energetskom-sektoru-u-bih">Learn more &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://www.bosanski.com/slike/2019/06/%C5%BEitarice-p%C5%A1enica.png" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">EU4AGRI: With the help of the European Union, farmers continue to grow quality cereals
</h5>
                <p class="card-text">Živko Kavedžija, a 27-year-old young man from Kozarska Dubica has been growing wheat, corn, and soybeans for the last ten years.</p>
                <a target="_blank" class="btn btn-primary" href="https://www.ba.undp.org/content/bosnia_and_herzegovina/en/home/presscenter/articles/2022/with-the-help-of-the-european-union--farmers-in-bosnia-and-herze">Learn more &raquo;</a>
            </div>
        </div>
    </div>
     <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://abrasmedia.info/wp-content/uploads/2022/03/tvoj-co2-logo.jpg" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">Walter’s tree defends clean air in Sarajevo</h5>
                <p class="card-text">The TvojCO2.ba platform was created by UNDP in Bosnia and Herzegovina as an incentive to bring together individuals and companies in the fight against climate change and air pollution in our country.</p>
                <a target="_blank" class="btn btn-primary" href="https://www.ba.undp.org/content/bosnia_and_herzegovina/en/home/presscenter/articles/2022/valterov-jasen-brani-ist-zrak-u-sarajevu">Learn more &raquo;</a>
            </div>
        </div>
    </div>
     <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://vijesti.ba/fajlovi/news_image/cepocilim-11_5d234c6d71757.JPG" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">ReLOaD supported project produces exciting works of art using waste bottle caps5</h5>
                <p class="card-text">A beautiful carpet is on prominent display in the Sarajevo suburb of Ciglane. There’s something different about this so-called ‘Čepoćilim’ though: it is made of 25,000 plastic</p>
                <a target="_blank" class="btn btn-primary" href="https://www.ba.undp.org/content/bosnia_and_herzegovina/en/home/presscenter/articles/2022/tradicionalna-umjetnost-sa-plasticnim-cepovima-reload">Learn more &raquo;</a>
            </div>
        </div>
    </div>
     <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://pbs.twimg.com/media/FIRbhI5XoAA1z4l?format=jpg&name=900x900" style="max-width:100%;"/>
            <div class="card-body">
                <h5 class="card-title">UNDP Strategic Plan 2022-2025</h5>
                <p class="card-text">This is a critical moment for the world, and for development. The new Strategic Plan 2022-2025 describes how UNDP intends to work together with our partners to deliver what’s required of us in these extraordinary times.</p>
                <a target="_blank" class="btn btn-primary" href="https://www.ba.undp.org/content/bosnia_and_herzegovina/en/home/library/publications/UNDPstretegicplan-2022-2025">Learn more &raquo;</a>
            </div>
        </div>
    </div>
   
</div>
   